*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uno p{
    font-family: Kanit;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    
}

html{
    scroll-behavior: smooth;
}

header{
    border: 3px solid rgb(255, 255, 255);
    z-index: 200;
    width: 80vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px  rgba(0,0,0,.25);
}

.boton-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 5vh;
    margin-left: 20%;
    background-color: #2937F0;
    color: white;
    border-radius: 100px ;
    font-family:Kanit;
    padding: 10px 18px;
}

.boton-header p{
    color: rgb(255, 255, 255);
}

.boton-header a{

    width: 200px;
    height: 5vh;
    position: absolute;
}



nav ul {
    list-style: none;
    display: flex;  
}

nav ul li a{
    list-style: none;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Kanit;
    font-size: 26px;
    
    
}

nav ul li a:hover{
    color: #2937F0;
}



.dos{
    display: flex;
    align-items: center;
    
    
}

.uno{
    display: flex;
    
}

.container{
    margin: 0 auto;
    width: 80vw;
    border: 1px solid rgb(255, 255, 255);
}


/*
    TERMINO DE HEADER
*/



h1{
    font-family:Newsreader;
    font-size: 80px;
}



main{
    padding-top: 11rem;
    height: 110% ;
    
    justify-content: space-around;
    
    box-shadow: inset 2px 1px 3px -3px gray;

}
.section-one{
    width: 80vw;
    
    display: flex;
    justify-content: space-around;
    height: 800px;
    align-items: center;
    background-color:#F8F9FA ;
}


.talento{

    width: 50vw;
    display: flex;
    justify-content: center;
}

.talento p {
    color: #6C757D;
    font-family: Mulish;
    font-weight: bold;
    font-size: 20px;

}
.lienzo-cel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 650px;
    
    width: 50vw;
    background-color:#F8F9FA;
}

.circulo-grande-section1{
    background-color: #2937F0;
    background-image: linear-gradient(90deg,rgba(78,38,231,1) 0%,rgba(149,25,222,1)100%);
    border-radius: 100%;
    width: 540px;
    height: 540px;
}
.ce{
    position: absolute;
}

.cocouno{
    height: 70vh;
    position: absolute;
    z-index: 5;
}

.videouno{
    position: absolute;
    height: 66vh;
    
}
.exis{
    position: absolute;
    left: 70px;
    bottom: 130px;
}
.punto{
    position: absolute;
    right: 60px;
    top:130px
}


/*
    TERMINO PRIMER SECTION
*/


.section-two {
    
    width: 80vw;
    height: 850px;
    scroll-margin-top: 130px;
    background-size: 100% ;
}

.caja-primera{
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.section-two{
    position: relative;
    
}

.parrafo{
    color: #ffffff;
    position: absolute;
    z-index: 4;
    font-family: Newsreader;
    font-size: 90px;
    font-weight: 700;
    left: 13%;
    top: 25%;
}

.ciego{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.boton-section2{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px ;
    position: absolute;
    z-index: 4;
    left: 13%;
    top: 70%;
    width: 19%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}
.boton-section2 p {
    color: #ffffff;
    font-family: Mulish;
    font-size: 20px;
    font-weight: bolder;
    
}

.boton-section2 a {
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



/*
    TERMINO SEGUNDA SECTION
*/

.section-three{
    
    width: 80vw;
    height: auto;
    display: flex;
}

.lienzoo-cel{
    width: 40%;
    
    height: 647px;
    position:relative;
    background-color: #F8F9FA;
}
.lienzo-poderes{
    display: flex;
    
    width: 60%;
    justify-content:center ;
    background-color: #F8F9FA;
}
.cocodos{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 30%;
}
.circulo-grande-section2{
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg,rgba(78,38,231,1) 0%,rgba(149,25,222,1)100%);
    border-radius: 100%;
    top:31%;
    left: 10%;
}
.videodos{
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 33%;
}
.exis2{
    position: absolute;
    top:14%;
    left: 82%;
}
.punto2{
    position: absolute;
    top: 80%;
    left: 19%;
}

.lienzo-poderes{
    display: flex;
}

.lienzo-poder1{
    
    width: 40%;
    
    flex-wrap: wrap;
    background-color: #F8F9FA;
}
.lienzo-poder2{
    
    width: 40%;
}

.minicel{

    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.minicel i {
    font-size: 800%;
    background: linear-gradient(90deg,rgba(78,38,231,1) 0%,rgba(149,25,222,1)100%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent ;

}

.minicel h2{
    font-family: Kanit;
    font-weight: bolder;
    text-align: center;
}

.minicel p{
    font-family: Kanit;
    font-weight: bolder;
    text-align: center;
    color: #6C757D;
}



.miniporta{
    
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.miniporta i {
    font-size: 800%;
    background: linear-gradient(90deg,rgba(78,38,231,1) 0%,rgba(149,25,222,1)100%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent ;

}

.miniporta h2{
    font-family: Kanit;
    font-weight: bolder;
    text-align: center;
}

.miniporta p{
    font-family: Kanit;
    font-weight: bolder;
    text-align: center;
    color: #6C757D;
}



.lienzo-poder2{
    
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
} 

.miniframe{
    
    width: 15%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: absolute;
    
}

.ultimo{
    margin-bottom: 10px;
    bottom: 10px;
}

footer{
    
    width: 100%;
    height: 16vh;
    text-align: center;
    color: #5c6368;
    font-family:Mulish ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
